<%#= rand(100) %>
<h1>2d6<h1>
<h4>Two 6-sided Dice<h4>

<% @rolls.each do |a_roll|%>
<li>
<%= a_roll%>
</li>
<% end %>


<p> <%= @outcome %> </p>


<%# executes the Ruby code %>
<%#= prints information to the erb file %>
